@using Microsoft.Web.Mvc
@using UIT.iDeal.Common.Web
@using UIT.iDeal.Web.Controllers
@model UIT.iDeal.ViewModel.Tasks.AddTaskForm

@{
    ViewBag.Title = "Add a new Task";
}

<h2>Add a new Task</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@section PageIdentifier
{
   @Html.SetUpPageIdWith(LocalSiteMap.Navigation.PageIds.Tasks.Create);
}
@using (Html.BeginForm()) {

    @Html.ValidationSummary(true)
    <fieldset>
        @Html.EditorForModel()

        <p>
            <input type="submit" id="@LocalSiteMap.Locators.ActionElementIds.AddTask.SaveButton" value="Save" />
        </p>
    </fieldset>
}

<div>
    @(Html.ActionLink<TasksController>(x => x.Index(), "Back to Task list"))
</div>