@using Microsoft.Web.Mvc
@using UIT.iDeal.Common.Web
@using UIT.iDeal.Web.Controllers
@using UIT.iDeal.Common.Extensions.Web
@model UIT.iDeal.ViewModel.Users.AddUserForm

@{
    ViewBag.Title = LocalSiteMap.PageText.PageTitles.Users.Create;
}

@section PageIdentifier
{
   @Html.SetUpPageIdWith(LocalSiteMap.Navigation.PageIds.Users.Create)
}


@section JavaScriptReference
{
  <script src="@Url.Content("~/Scripts/jquery.ui.multiselect.js")" type="text/javascript"></script>   
}
@using (Html.BeginForm("Create", "User", FormMethod.Post, new { @class = "form-horizontal well" }))
{
    
   @Html.ValidationSummary(true)
    <fieldset>
        <legend>Create a new User</legend>
        @Html.EditorForModel()
        <hr/>
        <div class="left-panel">
            @Html.LabelFor(m => m.ApplicationRoles)
            @Html.MultiSelectWithCheckboxes(m => m.ApplicationRoles, m => m.ApplicationRoleIds)
            <br/>
        </div>
        
        <div class="right-panel">
            @Html.LabelFor(m => m.BusinessUnits)
            @Html.MultiSelectWithCheckboxes(m => m.BusinessUnits, m => m.BusinessUnitIds)
            @Html.ValidationMessageFor(m => m.BusinessUnitIds)
            <br/>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" id="@LocalSiteMap.Locators.ActionElementIds.AddUser.AddUserButton" value="Create" />
        </div>
        
    </fieldset>
}


<div>
   @(Html.ActionLink<UserController>(x => x.Index(), "Back to Users list"))
</div>

@section JavaScript
{
    $(function(){
        $(".multiselect").multiselect();
    });
}
