@using UIT.iDeal.Web.Notification
@using Microsoft.Web.Mvc
@using UIT.iDeal.Common.Web
@using UIT.iDeal.Web.Controllers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap-responsive.min.css")" rel="stylesheet"/>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
</head>
<body>
    @*<div class="page">
        <header>
            @RenderSection("PageIdentifier", true)
            <div id="title">
                <h1>My MVC Application</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <ul id="Admin"> 
                        <li> @(Html.ActionLink<UserController>(x => x.Create(), "User Setup"))</li>
                    
                    </ul>
                   
                </ul>
            </nav>
        </header>
        <section id="main">
            <div id="messagewrapper" style="display: none">
		         @Html.RenderMessages()
	        </div>
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>*@
   
         @RenderSection("PageIdentifier", true)
        <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="../"> Investment Deal and Asset tracker</a>
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle"  
                                       data-toggle="dropdown"> Admin <b class="caret"></b> </a> 
                                    <ul class="dropdown-menu">
                                        <li> @(Html.ActionLink<UserController>(x => x.Index(), "Users"))</li> 
                                        <li> @(Html.ActionLink<UserController>(x => x.Create(), "User Setup"))</li>
                    
                                    </ul>
                                
                                </li>
                            </ul>
                            <div id="logindisplay" class="nav pull-right">
                                @Html.Partial("_LogOnPartial")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        <div class="container-fluid">
            <div id="messagewrapper" style="display: none">
                @Html.RenderMessages()
            </div>
            @RenderBody()
        </div>
        <div id="footer" class="row-fluid">
        </div>
   
       
    @RenderSection("JavaScript", false)
    <div id="hidden">
        @RenderSection("Hidden", false)
    </div>
    
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            handleAjaxMessages();
            displayMessages();
        });

        function displayMessage(message, messageType) {
            $("#messagewrapper").html('<div class="messagebox ' + messageType.toLowerCase() + '"></div>');
            $("#messagewrapper .messagebox").text(message);
            displayMessages();
        }

        function displayMessages() {
            if ($("#messagewrapper").children().length > 0) {
                $("#messagewrapper").show();
                $(document).click(function () {
                    clearMessages();
                });
            }
            else {
                $("#messagewrapper").hide();
            }
        }

        function clearMessages() {
            $("#messagewrapper").fadeOut(500, function () {
                $("#messagewrapper").empty();
            });
        }

        function handleAjaxMessages() {
            $(document).ajaxSuccess(function (event, request) {
                checkAndHandleMessageFromHeader(request);
            }).ajaxError(function (event, request) {
                displayMessage(request.responseText, "error");
            });
        }

        function checkAndHandleMessageFromHeader(request) {
            var msg = request.getResponseHeader('X-Message');
            if (msg) {
                displayMessage(msg, request.getResponseHeader('X-Message-Type'));
            }
        }	
	</script>
</body>
</html>

